ul, li, .item:link, a.item:visited, a.item:active {
    text-decoration: none; /* menghilangkan garis pada link */

}
body{
    background-color: aquamarine;
    background-image:url('../img/jjg.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
}